* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

.header {
  width: 100%;
  aspect-ratio: 96/35;
  padding-top: 15px;
  color: black;
  background-image: url("../img/header/header_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.header__menu {
  background-color: rgba(0, 0, 0, 0);
  font-family: Montserrat;
  font-size: 14px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.header__title {
  max-width: 725px;
  margin-top: 140px;
  text-align: center;
  font-family: PlayfairDisplay;
  font-size: 50px;
  font-style: italic;
}

.header__title--bottom {
  text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
  font-size: 24px;
  color: #fff;
}

.header__offer-container {
  margin-top: 150px;
}

.social img {
  background-color: black;
  border-radius: 50%;
}

.offer {
  position: relative;
  min-height: 600px;
  font-family: Raleway;
  color: #000;
  -webkit-box-shadow: 0px -8px 30px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 0px -8px 30px 0 rgba(0, 0, 0, 0.34);
  background-color: #fff;
  background-position: right;
  background-image: url("../img/offer/Boards.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.offer__full-img img {
  width: 100%;
}

.offer__container {
  margin-top: 45px;
  margin-left: 23px;
}

.offer__container h2 {
  padding-right: 10px;
}

.offer__price-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.offer__price {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.offer__buy {
  width: 137px;
  height: 44px;
  background-color: #00b0ff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
}

.offer__more-link {
  display: block;
  margin-top: 30px;
  font-family: Montserrat;
  font-size: 16px;
  color: #00b0ff;
  text-decoration: underline;
  -webkit-text-decoration-color: #00b0ff;
          text-decoration-color: #00b0ff;
}

.offer .starts {
  margin-top: 13px;
}

.offer .tab-content {
  margin-top: 27px;
  padding-right: 20px;
  height: 160px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #787878;
}

.offer .nav-tabs .nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #a0a0a0;
}

.offer .nav-tabs .nav-link.active {
  color: #000;
}

.offer .btn-group {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  gap: 5px;
}

.offer .btn-group button {
  width: 70px;
  height: 70px;
  border-radius: 0;
}

.offer::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/offer/Corner.png");
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}

.starts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3px;
}

.starts p {
  margin-left: 3px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: bold;
  color: #787878;
}

.about {
  position: relative;
  height: 100%;
  margin-top: 175px;
  aspect-ratio: 3/1;
  background: url("../img/about/serfer.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.about h2 {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-family: Montserrat;
  font-size: 196px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: rgba(0, 0, 0, 0.03);
}

.about__wrapper {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 50%;
  padding: 100px 130px 0px 0px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.about__wrapper img {
  position: absolute;
  top: 50%;
  left: 110%;
  width: 52%;
  height: 88%;
}

.about-description {
  width: 340px;
  background-color: #fff;
}

.about-description__text {
  font-family: PlayfairDisplay;
  font-size: 22px;
  font-style: italic;
  line-height: 1.73;
  text-align: left;
  color: #000;
}

.about-description__text span {
  display: block;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.52px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.about-description__text span::after {
  content: url("../img/about/x_icon.png");
  display: block;
}

.team {
  margin-top: calc(400px + 10vh);
}

.team h2 {
  width: 100%;
  margin-bottom: -80px;
  font-family: Montserrat;
  font-size: 196px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 20px;
  color: rgba(0, 0, 0, 0.03);
}

.team .carousel-icon {
  padding: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e6e6e6;
  background-color: #fff;
}

.person {
  width: 260px;
  height: 270px;
  font-family: Raleway;
  font-size: 14px;
  text-align: center;
  color: #8c8c8c;
}

.person__name {
  font-family: Montserrat;
  font-size: 18px;
  color: #00b0ff;
}

.person__mail::after {
  content: url("../img/team/Waves-2.png");
  margin-top: 10px;
  display: block;
}

.person__position {
  width: 90%;
  margin: 0 auto;
}

.person__position ::before {
  content: url("../img/team/pin_icon-2.png");
  display: inline-block;
  margin-right: 5px;
}

.person img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

.person:nth-child(even) {
  margin: 30px -30px 0px -30px;
  z-index: 2;
}

.updates {
  margin-top: 180px;
}

.updates h2 {
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2.52px;
  color: #000;
  text-align: center;
  padding-bottom: 40px;
}

.updates h2::after {
  content: url("../img/updates/x-icon.png");
  display: block;
}

.updates .card {
  width: 270px;
  height: 344px;
}

.updates .card:hover {
  -webkit-box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 30px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.updates button {
  width: 197px;
  height: 44px;
  background-color: #00b0ff;
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.4px;
}

.updates li {
  width: auto;
  height: auto;
}

.follow {
  margin-top: 180px;
}

.follow__facebook {
  margin-top: 140px;
}

.follow__facebook img {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.follow h2 {
  font-family: Montserrat;
  font-size: 90px;
  font-weight: bold;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
  color: rgba(0, 0, 0, 0.03);
  margin: 0px 0px -20px -5px;
}

.follow__images img {
  width: 100%;
  height: 100%;
}

.follow__images * {
  padding: 0;
}

.instagram-logo {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #fff;
}

.instagram-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin: 0;
}

.instagram-logo__title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
  color: #00b0ff;
  text-transform: uppercase;
}

.instagram-logo__tag {
  margin-left: 20px;
  font-family: Raleway;
  font-size: 16px;
  color: #000;
}

.brand h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: Raleway;
  font-size: 12px;
  font-weight: 600;
  color: #4d4d4d;
  display: flex;
  align-items: center;
}

.brand span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.brand span::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4d4d4d;
}

.footer {
  position: relative;
  min-height: 240px;
}

.footer ul > li {
  position: relative;
  padding-left: 25px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 2.43;
  color: #fff;
}

.footer ul > li::before {
  content: url("../img/footer/wave_footer_yellow.png");
  position: absolute;
  top: calc(-50% - 3px);
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.footer .form {
  position: relative;
  width: 300px;
}

.footer .form__input input {
  display: inline-block;
  width: 270px;
  padding: 5px 5px 5px 25px;
  border: none;
  background-color: transparent;
}

.footer .form__input::before {
  content: url("../img/footer/mail_icon.png");
  position: absolute;
  display: block;
  top: calc(50% + 10px);
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 11px;
}

.footer .form label {
  font-family: Montserrat;
  font-size: 16px;
  color: #fff;
}

.footer .form button {
  display: inline-block;
  background-image: url("../img/footer/arrow_right.png");
  background-color: #00b0ff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.footer .form::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 1px;
  border: 1px solid;
  background-color: #a0a0a0;
}

.footer::after {
  content: "";
  background-color: #000;
  top: 0;
  z-index: -1;
  position: absolute;
  margin-top: -100px;
  width: 100%;
  height: calc(100% + 100px);
}

@media (max-width: 1400px) {
  .footer {
    margin-top: 40px;
  }
  .footer::after {
    margin-top: 0;
    height: calc(100%);
  }
}

@media (max-width: 1200px) {
  .about h2,
  .team h2,
  .follow h2 {
    font-size: 60px;
  }
  .team h2 {
    margin-bottom: -15px;
  }
  .follow h2 {
    margin-bottom: -15px;
  }
  .follow__facebook {
    margin-top: 20px;
  }
}

@media (max-width: 982px) {
  .about {
    position: relative;
    background: url("../img/about/serfer.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .about h2 {
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: rgba(0, 0, 0, 0.03);
  }
  .about__wrapper {
    position: absolute;
    display: block;
    top: 100%;
    width: 100%;
    padding: 5px;
  }
  .about__wrapper img {
    top: -100%;
    left: 70%;
    width: 30%;
    height: 100%;
  }
  .about .about-description {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 765px) {
  .offer .btn-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 478px) {
  .about h2,
  .team h2,
  .follow h2 {
    font-size: 35px;
  }
  .team h2 {
    margin-bottom: -7px;
  }
  .follow h2 {
    margin-bottom: -9px;
  }
  .person:nth-child(even) {
    margin: 15px 0px;
    z-index: 2;
  }
  .team .carousel-icon {
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #e6e6e6;
    background-color: #fff;
  }
}
